@model IEnumerable<web.Models.Book>

@{
    ViewData["Title"] = "Index";
}

<h1>Book List</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th colspan="4">
               <form asp-controller="Books" asp-action="SearchByTitle" method="POST">
                   <input class="form-control" type="search" name="title" 
                   placeholder="Search by book title" required />
               </form>
            </th>
            <th colspan="1">
                <a class="btn btn-outline-success" asp-action="SortPriceAsc">Sort Price ASC</a>                
                <a class="btn btn-outline-info" asp-action="SortPriceDesc">Sort Price DESC</a>
            </th>
        </tr>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BookTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BookCover)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BookTitle)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.BookPrice)
                </td>
                <td>
                    <img src="@item.BookCover" width="100" height="120" />
                </td>
                <td>
                    <a asp-controller="Genres" asp-action="Details" asp-route-id="@item.Genre.GenreId">@item.Genre.GenreName</a>
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.BookId">Edit</a>
                    <a class="btn btn-info" asp-action="Details" asp-route-id="@item.BookId">Details</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
